In [1]:
n = int(input())

fuel = []
for i in range(n):
    fuel.append(int(input()))
cost = []
for i in range(n):
    cost.append(int(input()))

total = 0
curr = 0
s = 0
for i in range(n):
    total = total+fuel[i]-cost[i]
    curr += fuel[i]-cost[i]
    if (curr<0):
        curr=0
        s+=1

if total<0:
    print(-1)
else:
    print(s)

6
2
4
5
3
6
7
2
3
4
5
6
7
2

In [ ]:
6 
1
4
2 
3 
6 
2
2
3 
4 
5 
6 
7

In [17]:
ord('5')-ord('0')==int('5')

True

In [18]:
ord('a')

97

In [19]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [23]:
if False:
    print("hello9")

In [27]:
x = [y for y in range(10)]

In [31]:
ord('2')-ord('0') not in x

False

In [32]:
arr = [1,2,3,4,5,6,7,8,9]
for i in arr:
    if i%3==0:
        print(i)
        arr.remove(i)

3
6
9

In [33]:
arr

[1, 2, 4, 5, 7, 8]

In [38]:
logs = ["1 n u", "r 527", "j 893", "6 14", "6 82"]
aps = []
x = [y for y in range(10)]
j = 0
for i in logs:
    c1 = i.split()[1][0]
    print(j)
    j+=1
    if ord(c1)-ord('0') in x:
        aps.append(i)
logs = list(set(logs)-set(aps))
print(aps)

0
1
2
3
4
['r 527', 'j 893', '6 14', '6 82']

In [39]:
logs

['1 n u']

In [40]:
[0]*len([1,23,4])

[0, 0, 0]